[v-cloak] {
  display: none;
}

.animated--repeat {
  animation-iteration-count: infinite;
}

.dommy {
  display: inline-block;
  width: 200px;
  height: 400px;
  border: 30px solid #FFBC01;
  border-radius: 999px;
  position: relative;
  pointer-events: none;
}
  .dommy + .dommy {
    margin-left: 80px;
  }

  .dommy__eye {
    border: 23px solid #FFBC01;
    border-radius: 999px;
    width: 0;
    height: 0;
    position: absolute;
    top: 80px;
  }
    .dommy__eye--left {
      left: 20px;
    }
    .dommy__eye--right {
        left: 80px;
    }
    
  .dommy__mouth {
    border: 16px solid #FFBC01;
    border-radius: 999px;
    width: 155px;
    height: 0;
    position: absolute;
    top: 160px;
    right: -30px
  }
