[v-cloak] {
  display: none;
}

.animated--repeat {
  animation-iteration-count: infinite;
}

.dommy {
  width: 10vw;
  height: 20vw;
  
  stroke: #FFBC01;
  stroke-width: 20;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.dommy__eyes {
  fill: #FFBC01;
  stroke: none;
}

.dommy + .dommy {
  margin-left: 4vw;
}
